# Dependencias
node_modules/

# Archivos de entorno (¡MUY IMPORTANTE!)
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Otros
.DS_Store
table.txt
ENDPOINTS.txt
recursos/*.*
192.168.0.11.conf
192.168.0.32
